body
{
    background-color: rgba(128, 141, 161, 0.404);
    font-family:Arial, Helvetica, sans-serif
      }

#container{
  width: 700px;
  margin: auto;



}

header {
  background-color: rgb(7, 7, 7);
  height: 40px;
  h1{
  color: aliceblue;
  text-align: center}
 }

nav{
  float: left;
  margin: 12px;
  font-size: 10px
  }

.clearfix{
clear:both; 
} 

#content{
  float: left;
  width: 80%;
  border: cornflowerblue;
}

.article{
width: 120%;
text-align:justify ;
}

footer {
  background-color: rgb(97, 13, 13);
  color: aliceblue;
  text-align: center
 }

 #Formulario{
  display:flex
  flex-direction:column-reverse:
 }