body
{
    background-color: rgba(246, 247, 249, 0.404);
    font-family:Arial, Helvetica, sans-serif
      }

header {
  background-color: rgba(159, 37, 37, 0.404);
  height: 70px;
  h1{
  color: aliceblue;
  text-align: center}
 }
#grupos{
  width: 1000px;
  margin: auto;
}

a{color: pink;
text-decoration: none;}
a:hover{
  color: black;
}


footer {
  display: flex;
  background-color: rgba(159, 37, 37, 0.404);
    color: aliceblue;
  text-align: center;
 padding: 40px;
 gap: 20px;

 }